[submodule "Engine/ednfor/spdlog"]
	path = Engine/ednfor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/Vendor/GLFW"]
	path = Engine/Vendor/GLFW
	url = https://github.com/TheCherno/GLFW
